body {
    background-color: black;
}

h1 {
    color: gainsboro;
    text-align: center;
}

.rojo {
    background-color: red;
    height: 20px;
    max-width: 200%;    
}
.blanco {
    background-color: white;
    height: 20px;
    max-width: 200%;    
}
.azul {
    background-color: blue;
    height: 20px;
    max-width: 200%;    
}

img {
    max-width: 200px;
    max-height: 200px;
}

.jagua {
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    border: 2px solid red;
}

.contenedor-perros {
    width: 604px;
    height: 604px;
    border: solid 10px white;
    position: relative;
    margin: 0 auto;
}

.dv2 {
    margin-top: 100px;
    margin-left: 100px;
}

.dv3 {
    margin-top: 200px;
    margin-left: 200px;
}

.dv4 {
    margin-top : 300px;
    margin-left : 300px;
}

.dv5 {
    margin-top : 400px;
    margin-left : 400px;
}

.dv1:hover {
    box-shadow: 0 0 75px red;
}
.dv2:hover {
    box-shadow: 0 0 75px red;
}
.dv3:hover {
    box-shadow: 0 0 75px red;
}
.dv4:hover {
    box-shadow: 0 0 75px red;
}
.dv5:hover {
    box-shadow: 0 0 75px red;
}

.v1:hover~.lol1{
    display: none;
}
.v2:hover~.lol2{
    display: none;
}
.v2:hover~.lol2{
    display: none;
}
.v2:hover~.lol2{
    display: none;
}
.v3:hover~.lol3{
    display: none;
}
.v4:hover~.lol4{
    display: none;
}

/*
.dv1:hover {
    box-shadow: 0 0 50px rebeccapurple;
}
.dv2:hover {
    box-shadow: 0 0 50px rebeccapurple;
}
.dv3:hover {
    box-shadow: 0 0 50px rebeccapurple;
}
.dv4:hover {
    box-shadow: 0 0 50px rebeccapurple;
}
.dv5:hover {
    box-shadow: 0 0 50px rebeccapurple;
}
*\
/* ~ */
/*
.dv1:hover+.lol1 {
    display: none;
}
.dv2:hover+.lol2 {
    display: none;
}
.dv3:hover+.lol3 {
    display: none;
}
.dv4:hover+.lol4 {
    display: none;
}
*\
